@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*verde: #49a09d*/

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

html, body {
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.cadastro {
    background-color: white;
    width: 400px;
    height: 500px;
    padding: 10px;
    border-radius: 20px;
}

div.formulario > h2 {
    font-size: 2em;
    text-align: center;
    margin: 20px;
}

.formulario p {
    font-size: 0.90em;
    text-indent: 20px;
    margin-bottom: 20px;
}

.formulario > form > div {
    margin-bottom: 20px;
}

.campo {
    display: block;
    background-color: #5f2c82;
    border-radius: 20px;
    padding: 10px;
    height: 50px;
    width: 100%;
}

i {
    padding: 4px;
    color: white;
    font-size: 1.3em;

}

.campo > input {
    height: 40px;
    width: calc(100% - 33px);
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #63dad6;
    transform: translateY(-5px);
}

button {
    background-color: #63dad6;
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: white;
    width: 100%;
    font-size: 1.2em;
    font-weight: bolder;
    cursor: pointer;
}

button:hover {
    background-color: #34706e;
    transition: 0.3s;
}

label {
    display: none;
}